/**
 * Styles for the {{ VISIGRAPHIC }} theme.
 */
body{
	background-image: url(../image/bg.png);
	background-repeat: repeat-x;
	background-color: #fefefe;
	font-size:15px;
}
body.front{
	background-image: url(../image/bg-front.png);
	background-repeat: repeat-x;
}
body .mainbody{
	margin:80px auto 50px;
}
h1,h2,h3{
	color:#F39C11;
}
h1,h2{
	font-size:30px;
}
h3{
	font-size: 27px;
}
h5, .h5 {
  font-size: 18px;
  border-bottom: 1px solid #4E94C2;
  padding-bottom: 11px;
  color: #B2E3F2;
}
a:hover{
	text-decoration: none;
}


/**navigation bar**/
.navbar-default{
	background-color: transparent;
}
.navbar{
	-webkit-box-shadow:none;
	font-size:31px;
}
.nav > li > a{
	padding:10px 20px;
}
.navbar-default .navbar-nav > li > a{
	color:#264A9C;
	padding-top:53px;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
	color:#BE1E2D;s
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
	background-color: rgba(255, 255, 255, 0.2)
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
	background-color: transparent;
}
.dropdown-menu{
	-webkit-box-shadow:none;
  	box-shadow:none;
  	background-color: rgba(255, 255, 255, 0.3);
  	font-size:20px;
}
.dropdown-menu > li > a{
	color:#264A9C;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
	background-color: rgba(255, 255, 255, 0.4);
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus{
	color:#264A9C;
	background-color:rgba(245, 245, 245, 0.6);
}
.page-header{
	border:none;
	margin:0 0 15px 0;
}

/**flexslider**/
.flexslider{
  margin: 120px 0 300px 0;
  background: rgba(0, 0, 0, 0);
  border: none;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  -o-box-shadow:none;
  box-shadow:none;
}
.flexslider .slides img{
	width: auto;
	margin:auto;
}
/***article**/
.view-berita article{
	background-color: #f8f8f8;
	padding:10px 20px;
	margin-bottom:5px;
}

/******frontpage***/
#block-block-1{
	text-align: center;
}
#block-views-client-block-1{
	margin-top:30px;
}
#block-views-client-block-1 h2{
	text-align: center;
	margin-bottom:20px;
}
.owl-item img{
	margin: auto;
}

/***partner logo**/
.views-bootstrap-grid-plugin-style,
.views-bootstrap-grid-plugin-style img{text-align:center;margin:auto;font-size:11px;}
.views-field-field-partner-level{color:#4CAF50;}

.view-client .row{margin-bottom:30px;}


/**footer***/
#bigTriangleShadow{
	background: #2980B9;	
}
.footbg{
	background: #2980B9;
	margin-top:-10px;
	color:white;
}
.footbg a{color:#E3BF1A;}
#trianglePath1 {
  fill: white;
  stroke: white;
}
.footer{
	border-top:none;
	font-size:13px;
	letter-spacing:1px;
	padding-top:20px;
}
.footer .block{
	margin-bottom:20px;
}
.footer .block h2.block-title{
	color:rgb(241, 196, 15);
	font-size:27px;
	margin-bottom:30px;
}
.footer p{
	margin-bottom:5px;
}
.foot4, .foot4 a{
	color:#ACC2D0;
}
.foot4 .block{
	margin-top:20px;
	border-top:1px solid #4E94C2;
	padding-top:20px;
}
input#mce-EMAIL{float:left;margin-right:3px;width:170px;color:black;font-size:13px;padding:3px 6px;}
input#mc-embedded-subscribe{color: #666;padding: 3px 10px;border: none;font-weight: bold;}