.navbar-nav { font-family: 'bebas-neue'; font-weight: 400; }
strong, b { font-family: 'lato'; font-weight: 700; }
h1, h2, h3, h4, h5, h6 { font-family: 'lato'; font-weight: 300; }
p, div { font-family: 'lato'; font-weight: 400; }
